.flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-space-around {
  justify-content: space-around;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-space-evenly {
  justify-content: space-evenly;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-self-end {
  align-self: flex-end;
}

.flex-align-self-center {
  align-self: center;
}

@for $size from 1 through 12 {
  .flex-#{$size} {
    flex: $size;
  }
}
