$radius-size: 10px;

$mobile: 350px;
$mobile-m: $mobile - 1;

$mobile-landscape: 576px;
$mobile-landscape-m: $mobile-landscape - 1;

$tablet: 768px;
$tablet-m: $tablet - 1;

$desktop: 992px;
$desktop-m: $desktop - 1;

$large-desktop: 1200px;
$large-desktop-m: $large-desktop - 1;

$wide-desktop: 1400px;
$wide-desktop-m: $wide-desktop - 1;
